collect/input
collect/output
collect/logs
collect/*/node_modules
collect/*/package-lock.json
process/*/node_modules
process/*/package-lock.json
process/input
process/logs
process/output
transform/output
transform/logs
transform/input
transform/transform/*/node_modules
transform/transform/*/package-lock.json
transform/transform/jscrambler/.env.local